<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Simple feedback page
        link(rel="stylesheet", href="css/index.css")
        script(src="js/index.js")
    body
    .container
        .logo.centered: h1.centered Simple contact form
        if (message)
            .message.centered(class=message.type)
                h2 #{message.type.toUpperCase()}
                p #{message.text}
        form(action="/", method="post", enctype="multipart/form-data")
            .centered
                h3 Name|Email|Contact
                input#name(type="text", name="name" placeholder="Your name")
                h3 Message
                textarea#message(name="message", cols="30", rows="10", placeholder="Write your message here")
                .attachments
                    h3 You can upload a 50mb file if you want
                    input#file(type="file", name="file")
                    div: input(type="submit", value="Send")